@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    src: url('../fonts/Roboto-Regular.woff') format('woff');
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
    src: url('../fonts/Roboto-Bold.woff') format('woff');
    src: url('../fonts/Roboto-Bold.woff2') format('woff2');
}