@import "fonts";
@import "values";
@import "mixins";

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    @media (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 1200px) {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
}

.header__buttons {
    display: flex;
    justify-content: flex-end;
    @media (min-width: 768px) {
        display: none;
    }
} 

.header {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.header__button {
    width: 44px;
    height: 37px;
    @include reset-button;
    margin-top: 23px;
    margin-right: 5%;
}

.header__button-no-active {
    display: none;
}

.header__button-active {
    display: block;
}



.header__menu {
    display: none;
    position: absolute;
    width: 208px;
    background-color: #F5F5F5;
    right: 5%;
    z-index: 2;
    @media (min-width: 768px) {
        width: 768px;
        position: static;
        display: flex;
        flex-direction: row;
        background: rgba(0, 0, 0, 0.0001);
        justify-content: space-between;
        margin: 40px 15% 43px 15%;
        right: 0px;

    }
    @media (min-width: 1200px) {
        width: 1170px;
        position: static;
        display: flex;
        flex-direction: row;
        background: rgba(0, 0, 0, 0.0001);
        justify-content: space-between;
        margin: 40px 15% 43px 15%;
        right: 0px;
    }
}

.header__menu-active {
    display: block;
}

.header__menu-item {
    display: flex;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 4px;
    cursor: pointer;
    &:hover {
        background-color: #E5E5E5;
    }
    @media (min-width: 768px) {
        &:hover {
            background-color:rgba(0, 0, 0, 0.0001);
        }
    }
}

.header__menu-link {
    text-transform: uppercase;
    color: $heading-color;
    font-size: 11px;
    line-height: 22px;
    font-weight: 400;
    
}

.header__menu-link-active {
    color: #57A4A4;
}

.main {
    background: rgba(0, 0, 0, 0.0001);
}

.container {
    @media (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 1200px) {
        width: 1170px;
        margin-left: auto;
        margin-right: auto;
    }
}

.main_image-train {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 23px;
}

.main__image-item {
    margin-left: 4.9%;
    width: 90%;
    @media (min-width: 1200px) {
        width: 100%;
        margin-left: 0px;
    }
}

.main__recent-posts {
    margin-top: 38px;
    margin-left: 5%;
    @media (min-width: 1200px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.heading-all {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: $heading-color;
    text-transform: uppercase;
    &::before {
        content: "- ";
    }
}


.recent-posts__all-items {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    @media (min-width: 1200px) {
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;

    }
    
}

.recent-posts__item {
    margin-bottom: 28px;
    &:last-child {
        display: none;
    }
    @media (min-width: 768px) {
        display: flex;
        &:last-child {
            display: flex;
        }
    }
}


.recent-posts__item--img-item {
    width: 160px;
    height: 140px;
}

.recent-posts__item-heading {
    margin-top: 11px;
    color: $heading-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    @media (min-width: 768px) {
        margin-top: 0px;
    }
}

.recent-posts__item-links {
    display: flex;
}

.recent-posts__item-links-item {
    color: $text-for-coment-color;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    &:first-child {
        &::after {
            content: "/";
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}

.recent-post--main {
    @media (min-width: 768px) {
        margin-left: 21px;
    }
}

.recent-posts__item-text {
    display: none;
    @media (min-width: 768px) {
        display: block;
        margin-top: 13px;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;
        color: $text-for-post-color;
    }
}

.main__instagram {
    @media (min-width: 768px) {
        background-color: rgba(0, 0, 0, 0.03);
        margin-top: 60px;
        width: 100%;
    }
    @media (min-width: 1200px) {
        margin-top: 70px;
        width: 100%;
    }
}

.instagram__text {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-top: 77px;
    @media (min-width: 768px) {
        margin-top: 0px;
        padding-top: 47px;
    }
    @media (min-width: 1200px) {
        
        margin-left: 0px;
    }
}

.instagram__link {
    display: none;
    @media (min-width: 768px) {
        display: block;
        color: $heading-color;
        font-weight: 700;
        font-size: 13px;
        line-height: 22px;
        text-transform: uppercase;
        margin-right: 5%;
        &::after {
            content: "-";
        }
    }
    @media (min-width: 1200px) {
        margin-right: 0px;
    }
}

.instagram__images {
    margin-top: 13px;
    margin-left: 5%;
    margin-bottom: 42px;
    @media (min-width: 768px) {
        width: 768px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        padding-bottom: 50px;
        margin-bottom: 0px;
        margin-top: 35px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
        margin-top: 24px;
        padding-bottom: 50px;
    }
}

.instagram__images-items {
    text-decoration: none;
    width: 300px;
    height: 300px;
    &:nth-child(2) {
        display: none;
    }
    &:nth-child(3) {
        display: none;
    }
    &:nth-child(4) {
        display: none;
    }
    @media (min-width: 768px) {
        &:nth-child(1) {
            width: 249px;
            height: 249px;
        }
        &:nth-child(2) {
            display: block;
            width: 249px;
            height: 249px;
        }
        &:nth-child(3) {
            display: block;
            width: 249px;
            height: 249px;
        }
    }
    @media (min-width: 1200px) {
        &:nth-child(1) {
            width: 285px;
            height: 285px;
        }
        &:nth-child(2) {
            width: 285px;
            height: 285px;
        }
        &:nth-child(3) {
            width: 285px;
            height: 285px;
        }
        &:nth-child(4) {
            display: block;
            width: 285px;
            height: 285px;
        }
    }
}

.instagram__img-item {
    width: 300px;
    height: 300px;
    @media (min-width: 768px) {
        &:nth-child(1) {
            width: 249px;
            height: 249px;
        }
        &:nth-child(2) {
            width: 249px;
            height: 249px;
        }
        &:nth-child(3) {
            width: 249px;
            height: 249px;
        }
    }
    @media (min-width: 1200px) {
        &:nth-child(1) {
            width: 285px;
            height: 285px;
        }
        &:nth-child(2) {
            width: 285px;
            height: 285px;
        }
        &:nth-child(3) {
            width: 285px;
            height: 285px;
        }
        &:nth-child(4) {
            width: 285px;
            height: 285px;
        }
    }
}

.footer {
    background-color: #000000;

}

.footer__heading {
    color: #FEFEFE;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    padding-top: 38px;
    display: flex;
    justify-content: center;
    &::after {
        content: " -";
    }
    @media (min-width: 768px) {
        font-size: 16px;
        padding-top: 57px;
    }
    @media (min-width: 1200px) {
        padding-top: 66px;
    }
}

.footer__text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    margin-top: 8px;
    width: 305px;
    color: $footer-text-color;
    @media (min-width: 768px) {
        width: 685px;
        margin-top: 22px;
        font-size: 16px;
        line-height: 28px;
    }
}

.footer__text-desktop {
    display: none;
    @media (min-width: 768px) {
        display: inline-block;
    }
}

.footer__icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    @media (min-width: 768px) {
        margin-top: 37px;
    }
}

.footer__info {
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 47px;
    @media (min-width: 768px) {
        margin-top: 34px;
        display: flex;
        width: 615px;
        justify-content: center;
        padding-bottom: 56px;
        margin-left: auto;
        margin-right: auto;
    }
    @media (min-width: 768px) {
        padding-bottom: 70px;
    }
}

.footer__info-item {
    &:nth-child(1) {
        &::after {
            content: " /";
            margin-left: 4px;
            margin-right: 4px;
            color: $footer-text-color;
        }
    }
    &:nth-child(2) {
        &::after {
            content: " /";
            margin-left: 4px;
            margin-right: 4px;
            color: $footer-text-color;
        }
    }
}

.footer__info-item--link {
    color: $footer-text-color;
}