.prices {
    background-image: url(../img/prices/background-tel.png);
    background-size: cover;
    margin-top: -1px;
    padding-top: 14px;
    color: $white;
    @include tablet {
        background-image: url(../img/prices/background-tablet.png);
        padding-top: 88px;
    }
    @include desktop {
        background-image: url(../img/prices/background-pc.png);
        margin-top: -12px;
        padding-top: 83px;
    }
}

.prices__heading {
    font-family: $Montserrat;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 320px;
    @include tablet {
        width: 95%;
        font-size: 32px;
        line-height: 50px;
    }
    @media (min-width: 510px) {
        font-size: 34px;
        line-height: 50px;
    }
    @media (min-width: 540px) {
        font-size: 36px;
        line-height: 50px;
    }
    @media (min-width: 570px) {
        font-size: 38px;
        line-height: 50px;
    }
    @media (min-width: 600px) {
        font-size: 40px;
        line-height: 50px;
    }
    @media (min-width: 630px) {
        font-size: 42px;
        line-height: 50px;
    }
    @media (min-width: 670px) {
        width: 100%;
        font-size: 48px;
        line-height: 50px;
    }
}

.prices__items {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: 470px 470px 560px 470px;
    justify-content: center;
    text-align: center;
    grid-row-gap: 18px;
    padding-bottom: 12px;
    @include tablet {
        grid-template-columns: repeat(2, 240px);
        grid-template-rows: repeat(2, 1fr);
        padding-bottom: 94px;
    }
    @media (min-width: 500px) {
        grid-column-gap: 10px;
    }
    @media (min-width: 540px) {
        grid-template-columns: repeat(2, 260px);
    }
    @media (min-width: 600px) {
        grid-template-columns: repeat(2, 280px);
    }
    @media (min-width: 650px) {
        grid-column-gap: 25px;
    }
    @include desktop {
        grid-template-columns: 230px 230px 240px 230px;
        grid-template-rows: repeat(1, 1fr);
        margin-top: 112px;
        padding-bottom: 73px;
        grid-column-gap: 10px;
    }
    @media (min-width: 1050px) {
        grid-template-columns: 250px 250px 260px 250px;
    }
    @media (min-width: 1100px) {
        grid-template-columns: 260px 260px 280px 260px;
    }
    @media (min-width: 1150px) {
        grid-template-columns: 260px 260px 300px 260px;
        grid-column-gap: 15px;
    }
}

.prises__item-active {
    @include tablet {
        margin-top: -40px;
    }
    @media (min-width: 660px) {
        margin-left: -34px;
    }
    @include desktop {
        margin-left: 0px;
    }
}

.prises__item-heading {
    @extend %prices-item-heading;
    background-color: rgba(255, 255, 255, 0.06);
    width: 257px;
    padding-top: 36px;
    padding-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
        width: 235px;
    }
    @media (min-width: 540px) {
        width: 257px;
    }
    @include desktop {
        width: 225px;
    }
    @media (min-width: 1050px) {
        width: 245px;
    }
    @media (min-width: 1100px) {
        width: 257px;
    }
}

.prises__item-heading-active {
    @extend %prices-item-heading;
    background-color: rgba(0, 0, 0, 0.11);
    padding-top: 43px;
    padding-bottom: 43px;
    width: 299px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
        width: 240px;
    }
    @media (min-width: 540px) {
        width: 260px;
    }
    @media (min-width: 600px) {
        width: 280px;
    }
    @media (min-width: 660px) {
        width: 299px;
    }
    @include desktop {
        width: 235px;
    }
    @media (min-width: 1050px) {
        width: 255px;
    }
    @media (min-width: 1100px) {
        width: 275px;
    }
    @media (min-width: 1150px) {
        width: 299px;
    }
}

.prices__item-body {
    width: 257px;
    background-color: rgba(255, 255, 255, 0.11);
    margin-left: auto;
    margin-right: auto;
    @include tablet {
        width: 235px;
    }
    @media (min-width: 540px) {
        width: 257px;
    }
    @include desktop {
        width: 225px;
    }
    @media (min-width: 1050px) {
        width: 245px;
    }
    @media (min-width: 1100px) {
        width: 257px;
    }
}

.prices__item-body-active {
    width: 299px;
    background-color: rgba(70, 48, 72, 0.84);
    margin-left: auto;
    margin-right: auto;
    @include tablet {
        width: 240px;
    }
    @media (min-width: 540px) {
        width: 260px;
    }
    @media (min-width: 600px) {
        width: 280px;
    }
    @media (min-width: 660px) {
        width: 299px;
    }
    @include desktop {
        width: 235px;
    }
    @media (min-width: 1050px) {
        width: 255px;
    }
    @media (min-width: 1100px) {
        width: 275px;
    }
    @media (min-width: 1150px) {
        width: 299px;
    }
}

.prises__item-number {
    padding-top: 30px;
    font-family: $Montserrat;
    font-weight: 700;
    font-size: 60px;
    line-height: 62px;
    &::before {
        content: "$";
    }
}

.prises__item-number-active {
    font-size: 82px;
    line-height: 84px;
    padding-top: 20px;
}

.prises__item-month {
    margin-top: 20px;
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    &::after {
        content: " ";
        display: block;
        height: 5px;
        width: 60px;
        background-color: $violet-color-light;
        margin-left: auto;
        margin-right: auto;
        margin-top: 38px;
        margin-bottom: 30px;
    }
}

.prises__item-license {
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 37px;
}

.prises__item-license-active {
    line-height: 32px;
    margin-bottom: 83px;
}

.prises__item-button {
    margin-bottom: 36px;
    font-family: $Montserrat;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
    border: none;
    padding: 14px 36px;
    color: $white;
    text-transform: uppercase;
}

.prises__item-button-active {
    margin-bottom: 47px;
}

.prises__item-button-first {
    margin-bottom: 67px;
    @include tablet {
        margin-top: 28px;
        margin-bottom: 36px;
    }
}