.revolutionary {
  margin-top: 130px;
  @include tablet {
    margin-top: 150px;
  }
  @include desktop {
    margin-top: 129px;
  }
}

.revolutionary__heading {
  font-family: $Montserrat;
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 275px;
  color: $violet-color-dark;
  @include tablet {
    width: 100%;
    font-size: 33px;
    line-height: 42px;
  }
  @media (min-width: 483px) {
    font-size: 34px;
    line-height: 42px;
  }
  @media (min-width: 496px) {
    font-size: 35px;
    line-height: 42px;
  }
  @media (min-width: 509px) {
    font-size: 36px;
    line-height: 42px;
  }
  @media (min-width: 523px) {
    font-size: 37px;
    line-height: 42px;
  }
  @media (min-width: 536px) {
    font-size: 38px;
    line-height: 42px;
  }
  @media (min-width: 550px) {
    font-size: 39px;
    line-height: 42px;
  }
  @media (min-width: 563px) {
    font-size: 40px;
    line-height: 42px;
  }
  @media (min-width: 590px) {
    font-size: 42px;
    line-height: 42px;
  }
  @mixin desktop {
    width: 760px;
    font-size: 54px;
    line-height: 54px;
  }
}

.revolutionary__text {
  margin-top: 27px;
  font-family: $Lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 275px;
  color: $text-color-dark;
  @include tablet {
    margin-top: 33px;
    line-height: 32px;
    font-size: 13px;
    width: 95%;
  }
  @media (min-width: 531px) {
    font-size: 15px;
    line-height: 32px;
  }
  @media (min-width: 569px) {
    font-size: 16px;
  }
  @media (min-width: 607px) {
    font-size: 17px;
  }
  @media (min-width: 645px) {
    font-size: 18px;
  }
  @media (min-width: 683px) {
    font-size: 19px;
  }
  @media (min-width: 690px) {
    width: 690px;
    font-size: 21px;
    line-height: 32px;
  }
  @mixin desktop {
    margin-top: 35px;
    width: 860px;
  }
}

.revolutionary__buttons {
  margin-top: 36px;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    width: 365px;
    flex-wrap: nowrap;
    margin-top: 24px;
  }
  @mixin desktop {
    margin-top: 13px;
  }
}

.revolutionary__buttons-item {
  @include reset-button;
  display: flex;
  width: 115px;
  height: 26px;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #ffffff;
  &:first-child {
    margin-right: 20px;
  }
  &:last-child {
    margin-top: 20px;
  }
  @include tablet {
    &:nth-child(2) {
      margin-right: 20px;
    }
  }
  @include tablet {
    &:last-child {
      margin-top: 0px;
    }
  }
}

.revolutionary__buttons-item-img {
  width: 12px;
  height: 12px;
  margin-top: -2px;
}

.revolutionary__button-item-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 70px;
  line-height: 24px;
  background: linear-gradient(to top, #e9e3e3, #ffffff);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.revolutionary__buttons-item-text {
  font-family: $Montserrat;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: $text-color-dark;
}

.revolutionary__buttons-item-number {
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  text-align: center;
  width: 40px;
  color: $text-color-dark;
}
