body {
    font-family: Montserrat;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.display-block {
    display: block;
}

.color-ocean {
    color: #18cfab;
}

.background-color-ocean {
    background-color: #18cfab;
}

.background-color-dark-blue {
    background-color: #1c2a33;
}

.header {
    background-attachment: fixed;
    background-image: url('../images/header-background.png');
    height: 100%;
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    color: #ffffff;
    margin-bottom: 8px;
}

.header-navbar {
    display: flex;
    background: rgba(94, 93, 88, 0.6);
    width: 100%;
    justify-content: center;
    
}

.header-navbar-width {
    width: 1160px;
    display: inline-flex;
    justify-content: space-around;
}

.header-navbar-logo {
    display: flex;
    margin-top: 26px;
    margin-bottom: 26px;
}

.header-logo-link {
    position: relative;
    text-align: center;
}

.header-logo {
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    position: absolute;
    align-items: center;
    top: 18px;
    left: 13px;
}

.header-logo-text {
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 1px;
    margin-left: 6px;
    margin-top: 8px;
    align-items: center;
}

.header-navbar-menu {
    display: inline-flex;
    align-items: center;
    width: 670px;
    justify-content: space-between;
}

.header-navbar-menu-item-link {
    font-size: 16px;
    line-height: 25px;
    opacity: 0.6;
    text-transform: uppercase;
    font-weight: bold;
}

.header-navbar-menu-item-link:hover {
    color: #18cfab;
    opacity: 1;
    border-bottom: 2px solid #18cfab;
    padding-bottom: 48px;
}

.header-text {
    margin-top: 264px;
    text-align: center;
}

.header-text-the-ham {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
}

.header-text-heading {
    text-transform: uppercase;
    font-size: 78px;
    font-weight: bold;
    margin-top: 22px;
}

.header-text-just-buy {
    font-size: 34px;
    color: #d4d4d4;
    margin-top: 22px;
    font-weight: 400;
}

.header-text-buttons {
    margin-top: 134px;
    padding-bottom: 243px;

}

.header-button {
    font-weight: 700;
    font-size: 15px;
    
    box-shadow: 0px -5px 0px 0px #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    line-height: 32px;
}

.header-button-explore {
    background-color: #18cfab;
    padding: 16px 18px;
}

.header-button-purchase {
    margin-left: 23px;
    background-color: #00cbf6;
    padding: 16px 11px;
}

.main-options-assistant {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-options-assistant-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 377px;
}

.main-options-assistant-text-item {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
}

.our-services-header {
    width: 230px;
    margin-top: 83px;
}

.headings {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    color: #4e4e4e;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.headings::before {
    content: "";
    width: 78px;
    height: 1px;
    position: absolute;
    background-color: #18cfab;
}

.headings::after {
    content: "";
    width: 78px;
    height: 1px;
    position: absolute;
    background-color: #18cfab;
}

.our-services-header::before {
    top: 62px;
    left: 66px;
}

.our-services-header::after {
    top: 66px;
    left: 79px;
}

.our-services-items {
    margin-top: 100px;
    display: grid;
    width: 1160px;
    grid-template-columns: repeat(6, 1fr);
    margin-left: auto;
    margin-right: auto;
}

.our-services-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    height: 72px;
    font-size: 16px;
    color: #717171;
    background-color: #f8fcfe;
    border: 1px solid #edefef;
    cursor: pointer;
}

.our-services-item:hover {
    border: 1.5px solid #18cfab;
    height: 70px;
}

.our-services-item-click {
    background-color: #18cfab;
    position: relative;
    height: 70px;
    border: 1.5px solid #18cfab;
}

.our-services-item-click::after {
    content: url(../images/our-services/servises-onclick-img.png);
    position: absolute;
    top: 70px;

}

.our-services-img-singature {
    margin-top: 25px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.our-services-item-signature {
    margin-left: 15px;
    margin-top: 2px;
    color: #777777;
}

.our-services-item-img-singature {
    display: flex;
}

.display-none {
    display: none;
}

.our-services-img-singature-no-active {
    display: none;
}

.display-flex {
    display: flex;
}

.main-everything-ready {
    margin-top: 90px;
}

.main-everything-ready-button {
    padding: 16px 11px;
    background-color: #18cfab;
}

.main-everything-ready {
    background-attachment: fixed;
    background-image: url('../images/main-background.png');
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    height: 480px;
}

.main-everything-ready-heading {
    font-weight: 700;
    font-size: 40px;
    padding-top: 127px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.main-everything-ready-signature {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 40px;
    color: #d8d8d8;
}

.main-everything-ready-button {
    margin-top: 67px;
    display: flex;
    justify-content: center;
    width: 168px;
    margin-right: auto;
    margin-left: auto;
}

.amazing-work {
    background-color: #e9edef;
    padding-top: 95px;
    padding-bottom: 100px;
}

.amazing-work-header {
    width: 380px;
}

.amazing-work-header::before {
    top: 58px;
    left: 127px;
}

.amazing-work-header::after {
    top: 62px;
    left: 140px;
}

.amazing-work-menu {
    margin-top: 97px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.amazing-work-menu-item {
    padding: 14px 15px;
    border: 1px solid #dadada;
    font-size: 14px;
    color: #717171;
    cursor: pointer;
}

.amazing-work-menu-item:hover {
    border: 2px solid #18cfab;
    padding: 13px 14px;
}

.amazing-work-menu-item-first {
    padding: 14px 27px;
}

.amazing-work-menu-item-first:hover {
    padding: 13px 26px;
}

.amazing-work-images {
    margin-top: 84px;
    display: grid;
    grid-template-columns: repeat(4, 285px);
    justify-content: center;
}

.amazing-work-item-hover {
    width: 285px;
    height: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #18cfab;
    display: none;
}

.amazing-work-item-hover-header {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 25px;
}

.amazing-work-item-hover-singature {
    font-size: 12px;
    font-weight: 300;
    margin-top: 22px;
}

.amazing-work-item:hover .amazing-work-item-img {
    display: none;
}

.amazing-work-item:hover .amazing-work-item-hover {
    display: flex;
    height: 203px;
}

.amazing-work-button {
    margin-top: 70px;
    width: 168px;
    height: 63px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    outline: none;
    border: none;
    color: #ffffff;
}

.amazing-work-button-singature {
    font-size: 14px;
    font-weight: 700;
    margin-left: 15px;
    text-transform: uppercase;
}

.main-breaking-news-header {
    margin-top: 82px;
    width: 273px;
}

.main-breaking-news-header::before {
    top: 62px;
    left: 87px;
}

.main-breaking-news-header::after {
    top: 66px;
    left: 100px;
}

.breaking-news {
    margin-top: 100px;
    display: grid;
    width: 1160px;
    grid-template-columns: repeat(4, 265px);
    grid-gap: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 130px;
}

.breaking-news-item {
    position: relative;
}

.breaking-news-item-date {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 68px;
    background-color: #203e38;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.breaking-news-item-blog {
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    display: flex;
    justify-content: center;
    width: 210px;
    line-height: 40px;
    margin-top: 3px;
}

.breaking-news-item-singature {
    color: #777777;
    font-size: 14px;
    padding-bottom: 10px;
    font-weight: 300;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 210px;
    margin-left: 4px;
}

.breaking-news-item-singature-adm::after {
    content: "|";
    color: #777777;
    margin-left: 15px;
    margin-right: 15px;
}

.breaking-news-item:hover .breaking-news-item-date {
    background-color: #18cfab;
}

.breaking-news-item:hover .breaking-news-item-blog {
    color: #18cfab;
}

.breaking-news-item:hover {
    background-color: #f8fcfe;
}

.section-client-feedback {
    background-attachment: fixed;
    background-image: url('../images/what-people-say-about-the-ham/client-feedback-background.png');
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
}

.section-client-feedback-header {
    padding-top: 100px;
    color: #ffffff;
    width: 620px;
}
.section-client-feedback-header::before {
    top: 163px;
    left: 261px;
}

.section-client-feedback-header::after {
    top: 167px;
    left: 274px;
}

.section-client-feedback-info {
    margin-top: 105px;
}


.section-client-feedback-info-item::before {
    content: url(../images/what-people-say-about-the-ham/combined-shapes.png);
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.section-client-feedback-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #bbbbbb;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
}

.section-client-feedback-user {
    display: flex;
    justify-content: center;
    margin-top: 37px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
}

.section-client-feedback-user-work {
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #bbbbbb;
    display: flex;
    justify-content: center;
}

.section-client-feedback-user-image {
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: anim-section-client-feedback-user-image;
}

@keyframes anim-section-client-feedback-user-image {
    0% {
        border: 12px solid rgba(31, 218, 181, 0.2);
    }
    50% {
        border: 12px solid rgba(31, 218, 181, 0.7);
    }
    100% {
        border: 12px solid rgba(31, 218, 181, 0.2);
    }
}



.client-feedback-active-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    padding-bottom: 98px;
}

.client-feedback-active-users {
    display: flex;
}

.client-feedback-active-user {
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    margin-right: 27px;
}

.section-client-feedback-info-item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.mn-top {
    margin-top: -10px;
}

.client-feedback-active-arrow-left {
    padding: 8px 10px;
    border: 1px solid #bbbbbb;
    fill: #bbbbbb;
    transition: 0.6s ease;
}
.client-feedback-button-left {
    margin-right: 30px;
}

.client-feedback-active-arrow-right {
    padding: 8px 10px;
    border: 1px solid #bbbbbb;
    fill: #bbbbbb;
    transition: 0.6s ease;
}

.client-feedback-button-right {
    margin-left: 3px;
}

.client-feedback-active-arrow-left:hover {
    fill: #ffffff;
    background-color: #18cfab;
    border: none;
    padding: 9px 11px;
}

.client-feedback-active-arrow-right:hover {
    fill: #ffffff;
    background-color: #18cfab;
    border: none;
    padding: 9px 11px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: #22353f;
    margin-top: 50px;
}

.footer-text {
    font-weight: 300;
    font-size: 14px;
    color: #aeaeae;
}

.footer-text-ham::after {
    content: "|";
    color: #aeaeae;
    margin-left: 5px;
}

.amazing-work-item-none {
    display: none;
}

.display-block {
    display: block;
}

.loader {
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .loader span {
    display: block;
    width: 20px;
    height: 20px;
    background: #eee;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .loader span:nth-child(2) {
    background: #f07e6e;
  }
  
  .loader span:nth-child(3) {
    background: #84cdfa;
  }
  
  .loader span:nth-child(4) {
    background: #5ad1cd;
  }
  
  .loader span:not(:last-child) {
    animation: animate 1.5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(30px);
    }
  }
  
  .loader span:last-child {
    animation: jump 1.5s ease-in-out infinite;
  }
  
  @keyframes jump {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(10px, -10px);
    }
    20% {
      transform: translate(20px, 10px);
    }
    30% {
      transform: translate(30px, -50px);
    }
    70% {
      transform: translate(-150px, -50px);
    }
    80% {
      transform: translate(-140px, 10px);
    }
    90% {
      transform: translate(-130px, -10px);
    }
    100% {
      transform: translate(-120px, 0);
    }
  }