<section class="prices">
    <div class="container">
        <h2 class="prices__heading">Fork Subscription Pricing</h2>
        <ul class="prices__items">
            <li class="prises__item">
                <h3 class="prises__item-heading">Students</h3>
                <div class="prices__item-body">
                    <p class="prises__item-number">29</p>
                    <p class="prises__item-month">per month</p>
                    <p class="prises__item-license">Personal License</p>
                    <button class="prises__item-button prises__item-button-first">purchase</button>
                </div>
            </li>
            <li class="prises__item">
                <h3 class="prises__item-heading">professional</h3>
                <div class="prices__item-body">
                    <p class="prises__item-number">59</p>
                    <p class="prises__item-month">per month</p>
                    <p class="prises__item-license">Professional License<br>Email Support</p>
                    <button class="prises__item-button">purchase</button>
                </div>
            </li>
            <li class="prises__item-active">
                <h3 class="prises__item-heading-active">agency</h3>
                <div class="prices__item-body-active">
                    <p class="prises__item-number prises__item-number-active">99</p>
                    <p class="prises__item-month">per month</p>
                    <p class="prises__item-license prises__item-license-active">1-12 Team Members<br>Phone Support</p>
                    <button class="prises__item-button prises__item-button-active">purchase</button>
                </div>
            </li>
            <li class="prises__item">
                <h3 class="prises__item-heading">enterprise</h3>
                <div class="prices__item-body">
                    <p class="prises__item-number">159</p>
                    <p class="prises__item-month">per month</p>
                    <p class="prises__item-license">Unlimited Team Members<br>24/ 7 Phone Support</p>
                    <button class="prises__item-button">purchase</button>  
                </div>
            </li>
        </ul>
    </div>
</section>