<section class="reviews">
  <div class="container">
    <div class="reviews__header">People Are Talking About Fork</div>

    <ul class="reviews__wrapper">
      <li class="reviews__item">
        <a href="#" class="reviews__logo">
          <img src="./img/reviews/logo/smashing.png" alt="smashing_magazine" />
        </a>
        <p class="reviews__text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </li>

      <li class="reviews__item">
        <a href="#" class="reviews__logo">
          <img src="./img/reviews/logo/codrops.png" alt="codrops" />
        </a>
        <p class="reviews__text">
          Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
          rhoncus molestie neque ac, mollis eleifend nibh.
        </p>
      </li>

      <li class="reviews__item">
        <a href="#" class="reviews__logo">
          <img src="./img/reviews/logo/W.png" alt="W_magazine" />
        </a>
        <p class="reviews__text">
          In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
          fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
        </p>
      </li>

      <li class="reviews__item">
        <a href="#" class="reviews__logo">
          <img src="./img/reviews/logo/Piexel.png" alt="Piexel" />
        </a>
        <p class="reviews__text">
          Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
          Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
        </p>
      </li>

      <li class="reviews__item">
        <a href="#" class="reviews__logo">
          <img src="./img/reviews/logo/CB.png" alt="creative_blod" />
        </a>
        <p class="reviews__text">
          Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
          Nulla faucibus lorem id arcu consequat faucibus.
        </p>
      </li>

      <li class="reviews__item">
        <a href="#" class="reviews__logo">
          <img src="./img/reviews/logo/TNW.png" alt="smashing_magazine" />
        </a>
        <p class="reviews__text">
          Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
          Pellentesque porttitor cursus massa et vestibulum.
        </p>
      </li>
    </ul>

    <p class="reviews__description">
      Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris,
      facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero
      tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et
      magnis dis parturient montes, nascetur ridiculus mus.
    </p>
  </div>
</section>
