a {
    text-decoration: none;
}
.main-header {
    display: inline-flex;
    justify-content: space-between;
}
.header {
    display: flex;
}
#сhange-the-topic {
    margin-left: 200px;
}
.theme {
    background-color: black;
    color: white;
}

.theme a {
    color: yellow;
}
.theme button {
    background-color: yellow;
}