body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
    
}
.color-white {
    color: #ffffff;
}
.color-cyan {
    color: #18b4cf;
}
.background-color-light-blue {
    background-color: #14b9d5;
}
.background-color-light-green {
    background-color: #89ca62;
    margin-right: 20px;
}

.header-strip {
    background-color: #313131;
    display: inline-flex;
    width: 1900px;
    height: 70px;
    justify-content: space-between;
}
.header-div-logo {
    display: flex;
    align-items: center;
}
.header-logo {
    padding-left: 29px;
    padding-right: 27px;
}
.header-logo-span {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
}
.header-menu-nav {
    display: flex;
    align-items: center;
}
.header-menu {
    display: flex;
    width: 722px;
    justify-content: space-between;
}
.header-menu-list {
    display: inline-flex;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
}
.header-menu-list:hover {
    color: #14b9d5;
}
.header-div-search {
    background-color: #000000;
    margin-right: 2px;
    width: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-background {
    width: 1900px;
    height: 369px;
    background-image: url(../images-bg/header-bg.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.header-all-div-title {
    margin-top: 44px;
}
.header-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    padding: 44px 0px;
}

.header-buttons {
    display: inline-flex;
    width: 644px;
    justify-content: center;
}
.header-button {
    width: 170px;
    height: 55px;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
}

.section-popular-posts {
    width: 1900px;
    background-color: #f2f2f2;
    
}

.h2-cyan {
    padding-top: 49px;
    text-align: center;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 52px;
}
.ul-popular-posts {
    display: flex;
    list-style: none;
    margin: 0px;
    padding-left: 0;
    height: 950px;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 370px;
    padding-right: 360px;
}
.popular-posts-item {
    width: 370px;
    margin-bottom: 30px;
    text-align: center;
    background-color: #ffffff;
    padding-bottom: 41px;
}
.popular-post-sign {
    text-decoration: none;
    color: #353a3d;
    display: flex;
    justify-content: center;
    padding-top: 21px;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
}
.main-parallax {
    width: 1900px;
    height: 588px;
    background-image: url(../images-bg/parallax-bg.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.h2-popular-clients {
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 106px;
    padding-bottom: 87px;
}
.main-parallax-hr {
    width: 60px;
    height: 3px;
    background-color: #18b4cf;
    border: none;
    margin-bottom: 100px;
}
.main-clients-brands {
    display: grid;
    grid-template-columns: 207px 135px 232px 141px;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
}

.top-rated {
    width: 1900px;
}
.top-rated-images {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.hot-news {
    width: 1900px;
}
.hot-news-all-posts {
    display: grid;
    width: 1200px;
    margin-left: 370px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, avto);
    row-gap: 45px;
    justify-content: start;
    column-gap: 30px;
    grid-template-areas:
        "elem1 elem1 elem1 elem2"
        "elem3 elem3 elem4 elem4"
        "elem5 elem5 elem6 elem6"
        "elem7 elem8 elem8 elem8";
}

.hot-news-post {
    background-color: #f9f7f7;
}
.hot-news-post:nth-child(1) {
    grid-area: elem1;
    display: inline-flex;
    flex-wrap: wrap;
    width: 857px;
}
.hot-news-post:nth-child(2) {
    grid-area: elem2;
    width: 277px;
    margin-left: -30px;
}
.hot-news-post:nth-child(3) {
    grid-area: elem3;

    width: 554px;
}
.hot-news-post:nth-child(4) {
    grid-area: elem4;

    width: 554px;
}
.hot-news-post:nth-child(5) {
    grid-area: elem5;
    width: 554px;
}
.hot-news-post:nth-child(6) {
    grid-area: elem6;
    width: 554px;
}
.hot-news-post:nth-child(7) {
    grid-area: elem7;
    width: 277px;
}
.hot-news-post:nth-child(8) {
    grid-area: elem8;
    display: inline-flex;
    flex-wrap: wrap;
    width: 857px;
}
.hot-news-post-h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353a3d;
    text-align: right;
    margin-top: 12px;
    margin-bottom: 15px;
    margin-right: 14px;
}
.hot-news-post-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5b6469;
    display: flex;
    align-items: center;
    text-align: right;
    margin: 0px 14px 3px 13px;
}

.hot-news-post-text-first-last {
    width: 350px;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: right;
}
.hot-news-post-h3-first-last {
    display: flex;
    margin: 0;
    margin-top: 41px;
    margin-bottom: 15px;
    justify-content: center;
}
.hot-news-post-h3-2-7 {
    margin: 0;
    text-align: center;
    margin-top: 14px;
}
.footer {
    margin-top: 77px;
    background-color: #000000;
    display: inline-flex;
    width: 1900px;
    justify-content: space-evenly;
}
.footer-singature {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 13px;
    letter-spacing: 1px;
}
.footer-logo {
    display: grid;
    grid-template-columns: 38px 64px;
    grid-template-rows: repeat(1, avto);
    align-items: center;
}
.footer-logo-lioit {
    margin-top: -8px;
}
a {
    text-decoration: none;
}
.go-to-up{
    display: none;
    position: fixed;
    height: 70px;
    width: 70px;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
}
#header-hot-news {
    cursor: pointer;
}